/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes like-icon {
  0% {
    --core: var(--heart-active, #ff0000);
  }
  16.6% {
    --main-color: var(--heart-active, #ff0000);
    --contour: var(--heart-active, #ff0000);
  }
  33.2% {
    --main-color: var(--heart-active, #ff0000);
    --contour: var(--heart-active, #ff0000);
  }
  49.8% {
    scale: 1.5;
  }
  60% {
    scale: 1;
  }
  83% {
    --sparcks: var(--heart-active, #ff0000);
  }
  100% {
    --sparcks: var(--sparcks, #fff);
    --core: var(--heart-active, #ff0000);
    --main-color: var(--heart-active, #ff0000);
    --contour: var(--heart-active, #ff0000);
  }
}

@keyframes pointer-shift {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}
